# macOS
.DS_Store
*.swp

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# macOS
macos/Flutter/.Flutter-Debug.xcconfig
macos/Flutter/.Flutter-Release.xcconfig
macos/Podfile
macos/Podfile.lock
macos/Runner.xcodeproj/xcuserdata/
macos/Runner.xcworkspace/xcuserdata/

# iOS
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Podfile
ios/Podfile.lock
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

# Android
*.apk
*.aab
android/app/src/main/res/google-services.json

# IDE
.idea/
.vscode/
*.iml

# Exports
exports/
logs/
*.log

# Temporary
*.bak
*.tmp
*.temp

# Generated
.mavis/

# Build products
**/*.xcuserstate
**/*.pbxuser
!ios/Runner.xcodeproj/project.pbxproj
!macos/Runner.xcodeproj/project.pbxproj